.sdata h1 {
  margin: auto;
  width: 100%;
  color: orange;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-family: "PT Sans", sans-serif;
}

.field {
  padding-left: 50px;
  padding-top: 1000px;
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 400px;
  font-family: "PT Sans", sans-serif;
}

.alert {
  font-weight: bold;
  margin-left: 630px;
}

input {
  width: 200px;
  height: 40px;
  margin-top: 30px;
  padding-left: 10px;
  margin-left: 10px;
}

.imageUpload {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 10px;
  padding-left: 30px;
  margin-top: 10px;
  color: orange;
}

button {
  width: 100px;
  height: 30px;
  background-color: black;
  color: orange;
  margin-left: 630px;
  font-family: "PT Sans", sans-serif;
}

.createStudentForm a {
  text-decoration: none;
  color: orange;
}
